<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produto - ANELIE</title>
</head>
<body>
<h2>Cadastrar Novo Produto - pag de teste</h2>

<form action="#" th:action="@{/admin/cadastro}" th:object="${produto}" method="post">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label>Nome do Produto:</label>
        <input type="text" th:field="*{nome}" required />
    </div>

    <div>
        <label>Categoria:</label>
        <input type="text" th:field="*{categoria}" required />
    </div>

    <div>
        <label>Material:</label>
        <input type="text" th:field="*{material}" />
    </div>

    <div>
        <label>Caminho/URL da Imagem:</label>
        <input type="text" th:field="*{imagem}" required />
    </div>

    <div>
        <label>Descrição:</label>
        <textarea th:field="*{descricao}"></textarea>
    </div>

    <div>
        <label>Valor (R$):</label>
        <input type="number" step="0.01" th:field="*{valor}" required />
    </div>

    <button type="submit">Salvar Produto</button>
</form>

<br>
<a th:href="@{/admin/inicio}">Voltar para o Painel</a>
</body>
</html>